* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

:root {
    --color: #2BAA7F;
}

li a {
    color: rgba(0, 100, 255, 0.5);
}

body {
    background-color: #ceeee3;
}

.phone {
    color: var(--color);
}

.phone::before {
    font-family: "remixicon";
    content: "\EFE9";
    padding-right: 10px;
}

header {
    width: 90%;
    height: 50px;
    margin: 20px auto;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-style: none;
    font-size: 15px;
}

header nav ul li {
    width: 150px;
    display: inline-block;
}

.landing {
    width: 1000px;
    height: 500px;
    margin: 0px auto;
    text-align: center;
}

.promo,
.form-container {
    width: 490px;
    height: 500px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    margin: 0px auto;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 0px 50px -10px rgba(0, 100, 255, 0.5);
}

.promo {
    background: linear-gradient(rgba(0, 100, 255, 0.5), rgba(0, 100, 255, 0.5)),url('img/woman.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.btn {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--color);
    bottom: 20px;
    color: #fff;
    font-size: 18px;
}

.btn1 {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--color);
    background-color: transparent;
    bottom: 20px;
    color: var(--color);
    font-weight: bolder;
    font-size: 18px;

}

.promo h1 {
    margin-top: 130px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 2.5rem;
    width: 300px;
}

.promo h2 {
    margin-top: 0px;
    font-size: 2.5rem;
    color: var(--color);
}

.promo p {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #fff;

}

form {
    padding: 20px;
    font-weight: bold;
}

.formtitle {
    margin: 15px 0px 15px 0px;
    text-align: center;
    color: var(--color);
    margin-bottom: 50px;
}

.cajaname {
    width: 448px;
    height: 55px;
    margin-bottom: 20px;
}

.name {
    width: 220px;
    height: 55px;
    display: inline-block;
}

input {
    border-radius: 10px;
    height: 30px;
    background-color: #e1e1e1;
    padding-left: 10px;
    border: none;
}

[type="email"],
[type="tel"] {
    margin-bottom: 15px;
    width: 395px;
}

[type="date"],
[type="time"] {
    width: 166px;
}


[type="submit"] {
    display: block;
    margin: 0px auto;
}

.btn::after,
.btn1::after {
    font-family: "remixicon";
    content: "\F008";
    padding-left: 10px;
    font-size: 18px;
}

.social-media {
    width: 100px;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 100, 255, 0.5);
    left: 0;
    top: 0;
}

.social-media a {
    display: block;
    color: var(--color);
    text-align: center;
    font-size: 50px;
}

[href="#home"]::before {
    font-family: "remixicon";
    content: "\F578";
}
[href="#twitter"]::before {
    font-family: "remixicon";
    content: "\F23A";
}
[href="#facebook"]::before {
    font-family: "remixicon";
    content: "\ECBC";
}
[href="#instagram"]::before {
    font-family: "remixicon";
    content: "\EE66";
}
[href="#youtube"]::before {
    font-family: "remixicon";
    content: "\F2D4";
}

[href="#home"] {
    margin-top: 20px;
    margin-bottom: 450px;
}

